html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
text-decoration: none;
color:grey;
}

body{
	text-align: center;
}


h3 {
  font-size: 2em;
  text-align: center;
  color:lightblue;



}

h4 {
  font-size: 1.3em;
  padding: .3em;
  color: white;
  margin-bottom: 1.2em;


}

/* navigation */

nav{
  width: 100%;
  height: 80px;
  background: #f4f4f4;
  border-bottom: 1px solid #ddd;
  position: fixed;
  z-index: 100;

}

nav .menu{
  width: 80px;
  height: 79px;
  background: #f4f4f4;
  position: relative;
  cursor: pointer;
  border-right: 1px solid #ddd;
}

nav .menu:hover{
  background: #ddd;
}

nav .menu span{
  width: 30px;
  height: 1px;
  background: #9b9b9b;
  position: absolute;
  left: calc(50% - 15px);
}

nav .menu span:nth-child(1){
  top: 30px;
}

nav .menu span:nth-child(2){
  top: 37px;
}

nav .menu span:nth-child(3){
  top: 50px;
}

.menu-items{
  position: fixed;
  top: 80px;
  height: 100%;
  overflow: hidden;
  width: 80px;
  right: auto;
  left: -81px;
  transition: all .3s ease-out;
  z-index: 100;
}

.menu-items ul{
  /* height: calc(100vh - 80px); */
  background: #f4f4f4;
  width: 300px;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;

}

.menu-items ul li{
  height: 80px;
  line-height: 80px;
  border-bottom: 1px solid #ddd;
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  color: #9b9b9b;
  cursor: pointer;
}

.menu-items ul li:hover{
  background: #ddd;
}

.menu-items ul li i{
  font-size: 30px;
  text-align:center;
  color: #9b9b9b;
  position: absolute;
  left: 20px;
  margin-top: 27px;

}

.about p {
  background: rgba(255, 255, 255, 0.5);
  padding: 1em;
}

/*heading */

.heading-title {
  background: #7647A2;
  border-radius: 50%;
  border: 10px solid #fdfdfd;
  color: #fff;
  display: block;
  font-size: 30px;
  font-weight: normal;
  height: 70px;
  width: 70px;
  line-height: 70px;
  margin: -40px 0 0 -40px;
  position: absolute;
  bottom: 0px;
  left: 49.5%;
  text-align: center;
  text-transform: uppercase;
}

.line {
  border-top: 2px solid #7647A2;
  display: block;
  margin-top: 50px;
  padding-top: 50px;
  position: relative;
}


span {
  display: block;
  width: 28px;
  height: 4px;
  background: grey;
  transition: .7s;
  pointer-events: none;
}

span:nth-child(2) {
  margin: 3px 0;
}



/*--------- background--------- */

.banner, footer {
  background-image: url('images/black.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner {
height: 100vh;
}

.banner .profile-pic{
	width: 150px;
	height: auto;
	border-radius: 50%;
	margin-top:9em;
  margin-right: 1em;
  position: relative;
}

/*JS auoto text */

#iam{
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: inline-block;


}



/*---------main---------*/


.about {
  height: 100vh;
  -moz-column-count: 1;
  -moz-column-gap: 20px;
  -webkit-column-count: 1;
  -webkit-column-gap: 20px;
  background: url('https://images.pexels.com/photos/414459/pexels-photo-414459.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')repeat 0 0;
  width: 100%;
  -webkit-animation: slide 100s linear infinite;


  }


  @-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -900px 0; }
  }


  .skills{
    height: 110vh;
    -moz-column-count: 1;
    -moz-column-gap: 20px;
    -webkit-column-count: 1;
    -webkit-column-gap: 20px;
    background: url('https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')repeat 0 0;
    width: 100%;
    -webkit-animation: slide 80s linear infinite;

    }


    @-webkit-keyframes slide {
      from { background-position: 0 0; }
      to { background-position: -900px 0; }
    }


.tools i {
  font-size: 5em;
}

.tools {
  background: rgba(51,51,51, 0.3);
  display: inline-block;
  padding: 1.5em;
}


.content-image {
  max-width: 100%;

}

/*----------Footer-----------*/
.social li {
  list-style-type: none;
  display: inline-block;
  font-size: 1.5em;
  padding:1em;
}

.fa-facebook{
color:#3B5998;


}
.fa-twitter{
color:#1dcaff;
}
.fa-github{
color:#c9510c;

}
.fa-linkedin{
color:#0077B5;

}
.fa-instagram{
color:#e1306c;
}

footer a{
	text-decoration: none;
	color: #FDFCFB;
}

footer p{
	line-height: 1.4;
	letter-spacing: 1px;
  color: #FDFCFB;
	font-size: 1em;
}

footer h3{
	font-size: 1.2em;
  color:#FDFCFB;
	padding-top: 2.5em;
  margin: 15px;

}

footer .contact-section{
	padding-bottom: 1em;
	max-width: 70%;
	margin: 0 auto;
}

hr{
  color:grey;
	opacity: .9;
}

.footer-content ul{
  margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.footer-content .my-name{
	margin-right: auto;
}

.footer-content li:nth-child(n+3){
	display: none;
}

.footer-content ul li{
	padding-top: 1em;
	list-style: none;
}

.contact-section {
/* background-color: rgb(240,81,56, 0.7) */
background: linear-gradient(#cc2b5e,#753a8880);
}


/* moving blob svg for the background */

.blobCont {
  position: absolute;
  left:1px;
  width: 100%;
  height: 100vh;

}

.blob:nth-child(1) {
  animation: move1 20s infinite linear;

}

@keyframes move1 {
  from {
    transform: rotate(90deg) translate(200px, 0.1px) rotate(-90deg)
  }
  to {
    transform: rotate(450deg) translate(200px, 0.1px) rotate(-450deg)

  }
}


.blob:nth-child(2) {
  animation: move2 20s infinite linear;
}

@keyframes move2 {
  from {
    transform: rotate(180deg) translate(200px, 0.1px) rotate(-180deg);
  }
  to {
    transform: rotate(540deg) translate(200px, 0.1px) rotate(-540deg);
  }
}
.blob:nth-child(3) {
  animation: move3 20s infinite linear;
}

@keyframes move3 {
  from {
    transform: rotate(270deg) translate(200px, 0.1px) rotate(-270deg);
  }
  to {
    transform: rotate(630deg) translate(200px, 0.1px) rotate(-630deg);
  }
}
.blob:nth-child(4) {
  animation: move4 20s infinite linear;
}

@keyframes move4 {
  from {
    transform: rotate(360deg) translate(200px, 0.1px) rotate(-360deg);
  }
  to {
    transform: rotate(720deg) translate(200px, 0.1px) rotate(-720deg);
  }
}
.blob:nth-child(5) {
  animation: move5 20s infinite linear;
}

@keyframes move5 {
  from {
    transform: rotate(450deg) translate(200px, 0.1px) rotate(-450deg);
  }
  to {
    transform: rotate(810deg) translate(200px, 0.1px) rotate(-810deg);
  }
}
.blob:nth-child(6) {
  animation: move6 20s infinite linear;
}

@keyframes move6 {
  from {
    transform: rotate(540deg) translate(200px, 0.1px) rotate(-540deg);
  }
  to {
    transform: rotate(900deg) translate(200px, 0.1px) rotate(-900deg);
  }
}
.blob:nth-child(7) {
  animation: move7 20s infinite linear;
}

@keyframes move7 {
  from {
    transform: rotate(630deg) translate(200px, 0.1px) rotate(-630deg);
  }
  to {
    transform: rotate(990deg) translate(200px, 0.1px) rotate(-990deg);
  }
}
.blob:nth-child(8) {
  animation: move8 20s infinite linear;
}

@keyframes move8 {
  from {
    transform: rotate(720deg) translate(200px, 0.1px) rotate(-720deg);
  }
  to {
    transform: rotate(1080deg) translate(200px, 0.1px) rotate(-1080deg);
  }
}
.blob:nth-child(9) {
  animation: move9 20s infinite linear;
}

@keyframes move9 {
  from {
    transform: rotate(810deg) translate(200px, 0.1px) rotate(-810deg);
  }
  to {
    transform: rotate(1170deg) translate(200px, 0.1px) rotate(-1170deg);
  }
}
.blob:nth-child(10) {
  animation: move10 20s infinite linear;
}

@keyframes move10 {
  from {
    transform: rotate(900deg) translate(200px, 0.1px) rotate(-900deg);
  }
  to {
    transform: rotate(1260deg) translate(200px, 0.1px) rotate(-1260deg);
  }
}
.blob:nth-child(11) {
  animation: move11 20s infinite linear;
}

@keyframes move11 {
  from {
    transform: rotate(990deg) translate(200px, 0.1px) rotate(-990deg);
  }
  to {
    transform: rotate(1350deg) translate(200px, 0.1px) rotate(-1350deg);
  }
}
.blob:nth-child(12) {
  animation: move12 20s infinite linear;
}

@keyframes move12 {
  from {
    transform: rotate(1080deg) translate(200px, 0.1px) rotate(-1080deg);
  }
  to {
    transform: rotate(1440deg) translate(200px, 0.1px) rotate(-1440deg);
  }
}
.blob:nth-child(13) {
  animation: move13 20s infinite linear;
}

@keyframes move13 {
  from {
    transform: rotate(1170deg) translate(200px, 0.1px) rotate(-1170deg);
  }
  to {
    transform: rotate(1530deg) translate(200px, 0.1px) rotate(-1530deg);
  }
}
.blob:nth-child(14) {
  animation: move14 20s infinite linear;
}

@keyframes move14 {
  from {
    transform: rotate(1260deg) translate(200px, 0.1px) rotate(-1260deg);
  }
  to {
    transform: rotate(1620deg) translate(200px, 0.1px) rotate(-1620deg);
  }
}
.blob:nth-child(15) {
  animation: move15 20s infinite linear;
}

@keyframes move15 {
  from {
    transform: rotate(1350deg) translate(200px, 0.1px) rotate(-1350deg);
  }
  to {
    transform: rotate(1710deg) translate(200px, 0.1px) rotate(-1710deg);
  }
}
.blob:nth-child(16) {
  animation: move16 20s infinite linear;
}

@keyframes move16 {
  from {
    transform: rotate(1440deg) translate(200px, 0.1px) rotate(-1440deg);
  }
  to {
    transform: rotate(1800deg) translate(200px, 0.1px) rotate(-1800deg);
  }
}
.blob:nth-child(17) {
  animation: move17 20s infinite linear;
}

@keyframes move17 {
  from {
    transform: rotate(1530deg) translate(200px, 0.1px) rotate(-1530deg);
  }
  to {
    transform: rotate(1890deg) translate(200px, 0.1px) rotate(-1890deg);
  }
}
.blob:nth-child(18) {
  animation: move18 20s infinite linear;
}

@keyframes move18 {
  from {
    transform: rotate(1620deg) translate(200px, 0.1px) rotate(-1620deg);
  }
  to {
    transform: rotate(1980deg) translate(200px, 0.1px) rotate(-1980deg);
  }
}
.blob:nth-child(19) {
  animation: move19 20s infinite linear;
}

@keyframes move19 {
  from {
    transform: rotate(1620deg) translate(200px, 0.1px) rotate(-1620deg);
  }
  to {
    transform: rotate(1980deg) translate(200px, 0.1px) rotate(-1980deg);
  }
}
.blob:nth-child(20) {
  animation: move20 20s infinite linear;
}

@keyframes move20 {
  from {
    transform: rotate(1620deg) translate(200px, 0.1px) rotate(-1620deg);
  }
  to {
    transform: rotate(1980deg) translate(200px, 0.1px) rotate(-1980deg);
  }
}
.blob:nth-child(21) {
  animation: move21 20s infinite linear;
}

@keyframes move21 {
  from {
    transform: rotate(1620deg) translate(200px, 0.1px) rotate(-1620deg);
  }
  to {
    transform: rotate(1980deg) translate(200px, 0.1px) rotate(-1980deg);
  }
}
.blob:nth-child(22) {
  animation: move22 20s infinite linear;
}

@keyframes move22 {
  from {
    transform: rotate(1620deg) translate(200px, 0.1px) rotate(-1620deg);
  }
  to {
    transform: rotate(1980deg) translate(200px, 0.1px) rotate(-1980deg);
  }
}
.blob:nth-child(23) {
  animation: move23 22s infinite linear;
}

@keyframes move23 {
  from {
    transform: rotate(1620deg) translate(200px, 0.1px) rotate(-1620deg);
  }
  to {
    transform: rotate(1980deg) translate(200px, 0.1px) rotate(-1980deg);
  }
}
.blob:nth-child(24) {
  animation: movew24 20s infinite linear;
}

@keyframes move24 {
  from {
    transform: rotate(1620deg) translate(200px, 0.1px) rotate(-1620deg);
  }
  to {
    transform: rotate(1980deg) translate(200px, 0.1px) rotate(-1980deg);
  }
}

.blob:nth-child(even) {
 display: none;
}

.contact-info {
background: rgba(0,0,0,.5)
}




/*-----Responsive-768px-------------------------------------------------------------------------------*/



@media only screen and (min-width: 768px){


	.banner{
		justify-content: space-between;
    height: 100vh;

	}

	.banner p{
		margin-top: 0;
		font-size: 1.28em;
	}

  .banner .profile-pic{
  	width: 300px;

  }


.about p {
  margin: 12em;
}


	.project{
		margin-bottom: 1em;
	}


	.footer-content .back-btn{
		display:none;
	}

	footer ul li a{
		padding-right: 1em;
    padding-bottom: 0.3em;
    color:grey;
	}

	.footer-content li:nth-child(n+3){
		display: inline-flex;
	}

	footer ul li{
		font-size: 1.2em;
	}

	footer .contact-section{
		max-width: 460px;
	}

  footer ul {
    background-color: #f4f4f4;
  }


  .social li {
    font-size: 2.5em;
  }


  .content {
  position: relative;
  width: 90%;
  max-width: 380px;
  margin: auto;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 1em;
  }



  /* display hidden blobs */

  .blob:nth-child(even) {
   display: inline;
  }

  h4 {

    font-size: 1.5em;
  }


}




/*-----Responsive-1024px----------------------------------------------------------------------*/

@media only screen and (min-width: 1024px){

  h3{
    text-align: center;
    display: inline-block;
  }



  .banner {
    height: 100vh;
    width: auto;
  }

  .banner .profile-pic{
    width: 300px;

  }

  .about {
    height: 100vh;
    padding: 0;
  }




  footer .contact-section{
    padding:4em;

  }


  .content .content-overlay {
    background: rgba(0, 0, 0, 0.9);


    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    margin:1em;
  }

  .content:hover .content-overlay{
    opacity: 1;
    margin: 1em;
  }

  .content-image{
    width: 100%;
    margin: 1em;
  }

  .content-details {
    position: absolute;
    text-align: center;
    margin: 1em;
    padding-left: 1em;
    padding-right: 1em;
    width: 80%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all .7s ease-in-out 0s;
  }

  .content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }

  .content-details h3{
    color: white;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }

  .content-details p{
    color:white;
    font-size: 1em;
  }

  .fadeIn-bottom{
    top: 80%;
  }

  .skills {
    height: 100vh;
  }






}
